<div class="progressStatsBody">
	<div style="text-align:right;margin:10px">
		<!-- <form class="form-inline" role="form">
			<div class="form-group">
				<input type="search" class="form-control" placeholder="">
			</div>
			<button type="button" class="btn btn-default" ng-click="">搜索</button>
			<button type="button" class="btn btn-default" ng-click="">导出</button>
		</form> -->
	</div>

	<div class="chart">
		<div class="col-sm-12 col-md-6">
			<canvas id="pieChart" width="300" height="300">
				浏览器不支持canvas
			</canvas>
		</div>
		<div class="col-sm-12 col-md-6">
			<p><span>投票开始时间：</span>{{activity.starttime.time | date:'yyyy-MM-dd HH:mm'}}</p>
			<p><span>投票结束时间：</span>{{activity.endtime.time | date:'yyyy-MM-dd HH:mm'}}</p>
			<p><span>投票历时：</span>{{activity.daysRound}}天{{activity.hoursRound}}小时{{activity.minutesRound}}分</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="tableStats" style="margin-top:30px;">
		<div class="row">
			<div class="tableTitle"><span class="titleLeft">数据详情</span></div>
			<div class="chartSample">
				<span class="beforeblack" ng-click="findVotePeople(0)">总投票人数：{{reportTitle.all_per}}人</span>
				<span class="beforeblue" ng-click="findVotePeople(1)">已完成投票：{{reportTitle.all_vote_num}}人</span>
				<span class="beforered" ng-click="findVotePeople(2)">未完成投票：{{reportTitle.has_vote_num}}人</span>
				<span class="beforegreen" ng-click="findVotePeople(3)">未投票：{{reportTitle.not_vote_num}}人</span>
			</div>
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>用户姓名</th>
							<th>工号</th>
							<th>邮箱</th>
							<th>拥有票数</th>
							<th>已投票数</th>
							<th>投票进度</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="ru in reportUsers">
							<td>{{ru.username}}</td>
							<td>{{ru.job_num}}</td>
							<td>{{ru.useremail}}</td>
							<td>{{ru.maxnum}}</td>
							<td>{{ru.votenum}}</td>
							<td>{{ru.votenum/ru.maxnum * 100| number:2}}%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>	
	</div>
</div>


