<div class="" style="height:50px;background:#fff;font-size:23px;line-height:50px;">
<span style="margin-left:15px">修改密码</span>
</div>
<form role="form" class="form-horizontal" style="margin-top:30px;">
	<div class="form-group">
		<label for="" class="col-sm-5 control-label">原密码</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" id="" placeholder="原密码" ng-model="newPass.oriPass">
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-5 control-label">新密码</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" id="" placeholder="新密码" ng-model="newPass.newPassOne">
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-5 control-label">重复密码</label>
		<div class="col-sm-3">
			<input type="password" class="form-control" id="" placeholder="重复密码" ng-model="newPass.newPassTwo">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-5 col-sm-3">
			<button type="button" class="btn btn-default" ng-click="modifyPass()">修改</button>
			<button type="reset" class="btn btn-default" id="resetBtn">重置</button>
		</div>
	</div>
</form>

